/* General styling */

// Colors
$yellow: #FDC70C;
$gold-border: #F0A21F;
$font-color-dark: #000000;
$color-green: rgb(13, 177, 13);
$color-red: rgb(192, 11, 11);
$color-white: #FFFFFF;
$font-size: 1em;
$layout-breakpoint-small: 960px;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swa");
$font-family: Montserrat , Arial, sans-serif;

*{
  box-sizing: border-box;
}

body{
  position: relative;
  height: 100vh;
  margin: 0;
  font-family: $font-family;
  --primary: $font-color-dark;
  --secondary: gray;
  font-size: $font-size;
  background: url("../images/bg-pattern.jpg") rgba(224, 224, 224, 0.63) repeat;
  background-blend-mode: multiply;
}

h1, h2{
  margin: 0.5em 0;
}

h4, h5, h6{
  margin: 0.3em 0;
}

.green{
  color: $color-green;
  font-weight: bold;
}

.red{
  color: $color-red;
  font-weight: bold;
}

.signin__link{
  color: $yellow;
  text-decoration: none;
  font-weight: bold;
  padding: 1em;
}

.container{
  margin: 0 auto;
  top: 0;
  width: 100%;
  max-height: 90vh;
  padding: 1em;
  display: grid;
  grid-template-columns: 2fr 1fr;

  .wallet, .transactionHistory, .transfer, .signupBlock, .illustration{
    grid-column: 1/span 2;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1em;
    background-color: $color-white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  }

  .wallet{
    grid-row: 1/span 1;
  }

  .transactionHistory{
    grid-row: 2/span 1;
    overflow-y: scroll;
    max-height: 800px;
  }

  .transfer{
    grid-row: 3/span 1;
  }
}

.balance__coins, #walletCoins, .transaction__header, .wallet__item--balance{
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.balance__coins{
  margin-left: 1em;
  padding: 0.2em 1em;
  //border: 1+px solid gray;
  box-shadow: 0px 2px 5px lightgray;
  border-radius: 5px;
  justify-content: center;
}

#walletCoins{
  align-items: center;
  font-size: 1.5*$font-size;
  font-weight: bold;
  margin: 0;

  img{
    width: 2em;
    height: auto;
    padding: 0.2em;
  }
}

.transaction{
  border-top: 1+px solid var(--secondary);
  border-bottom: 1+px solid var(--secondary);
  padding: 1em 0;
}

.transaction__header{
  justify-content: space-between;
}

.transaction__subject{
  text-transform: uppercase;
  color: var(--secondary);
}

.transfer__form, .signup__form{
  display: flex;
  flex-direction: column;

  *{
    margin: 0.3em 0;
  }
}

.transfer__form--input, .signup__form--input{
  border: none;
  padding: 0.8em 0.5em;
  border-radius: 5+px;
  border: 1+px solid var(--secondary);
}

.btn{
  padding: 1em;
  background-color: $yellow;
  color: $color-white;
  border: none;
}

//Sign up
.row{
  grid-column: 1/ span 2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;

  * {
    grid-column: 1/span 2;
    width: 100%;
  }

  .illustration{
    display: none;
    grid-row: 1/span 1;

    img{
      width: 100%;
    }
  }

  .signupBlock{
    grid-row: 1/span 1;
  }
}



@media (min-width: $layout-breakpoint-small) {
  .container{
    position: absolute;
    padding-top: 5.5em;
    grid-template-rows: 0.5fr 2fr;
    gap: 0.7+em;

    .wallet, .transfer{
      grid-column: 1/span 1;
    }

    .wallet{
      grid-row: 1/span 1;
      margin: 0;
    }

    .transactionHistory{
      grid-column: 2/span 1;
      grid-row: 1/span 2;
    }

    .transfer{
      grid-row: 2/span 1;
    }

    .signupBlock{
      grid-column: 2/span 1;
    }

    .row .illustration{
      display: block;
      grid-column: 1/span 1;
    }
  }

  .signup__form--row{
    display: flex;
    flex-direction: row;
  }

  .signup__form--group:first-child{
    padding-right: 0.5em;
  }

  .signup__form--group:last-child{
    padding-left: 0.5em;
  }

  h1, h2{
    margin: 0 0 0.3em 0;
  }

}

@import 'nav.scss';




