/* General styling */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swa");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  --primary: $font-color-dark;
  --secondary: gray;
  font-size: 1em;
  background: url("../images/bg-pattern.jpg") rgba(224, 224, 224, 0.63) repeat;
  background-blend-mode: multiply;
}

.container {
  padding: 1em;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.container .wallet, .container .transactionHistory, .container .transfer {
  grid-column: 1/span 2;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.container .wallet {
  grid-row: 1/span 1;
}
.container .transactionHistory {
  grid-row: 2/span 1;
}
.container .transfer {
  grid-row: 3/span 1;
}

.balance__coins, #walletCoins, .transaction__header {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.balance__coins {
  padding: 1em 1em;
  box-shadow: 0px 2px 5px lightgray;
  border-radius: 5px;
  justify-content: center;
}

#walletCoins {
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}
#walletCoins img {
  width: 2em;
  height: auto;
  padding: 0.2em;
}

.transaction {
  border-top: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
}

.transaction__header {
  justify-content: space-between;
}

.transaction__subject {
  text-transform: uppercase;
}

.transfer__form {
  display: flex;
  flex-direction: column;
}
.transfer__form * {
  margin: 0.5em 0;
}

.transfer__form--input {
  border: none;
  padding: 0.8em 0.5em;
  border-radius: 5px;
  border: 1px solid var(--secondary);
}

.btn {
  padding: 1em;
  background-color: #FDC70C;
  color: #FFFFFF;
  border: none;
}

@media (min-width: 960px) {
  .container {
    grid-template-rows: 1fr 2fr;
    gap: 1em;
  }
  .container .wallet, .container .transfer {
    grid-column: 1/span 1;
  }
  .container .wallet {
    grid-row: 1/span 1;
    margin: 0;
  }
  .container .transactionHistory {
    grid-column: 2/span 1;
    grid-row: 1/span 2;
  }
  .container .transfer {
    grid-row: 2/span 1;
  }
}
.nav {
  background-color: #FFFFFF;
  width: 100%;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.nav__logo {
  width: 10em;
}
.nav__logo img {
  width: 100%;
}

.nav__navbar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: unset;
  margin: 0;
}

.nav__item a {
  display: block;
  padding: 1em 0;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary);
  font-weight: bold;
}
.nav__item a:hover {
  color: var(--secondary);
}

@media (min-width: 960px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .nav__logo {
    align-self: center;
  }

  .nav__navbar {
    flex-direction: row;
    align-items: center;
  }

  .nav__item a {
    padding: 1em 1em;
  }
}

/*# sourceMappingURL=style.css.map */
